.story {
  composes:
    global(relative)
    global(z-20)
  ;
}

@media screen and (max-width: 767px) {
  .story {
    background-color: white !important;
  }
}

.noteLeft {
  composes:
    global(text-right)
  ;
  min-width: 50px;
}

.noteRight {
  composes:
    global(ml-30)
  ;
}