.container {
  composes:
    global(fixed)
    global(pin)
    global(z-full)
    global(bg-black)
    global(overflow-hidden)
  ;

  transition: all 0.9s cubic-bezier(0.785, 0.135, 0.2, 1);
}

.containerHide {
  animation: hideContainer 0.15s 1s 1 ease-out forwards;
}

.inner {
  composes:
    global(flex)
    global(items-center)
    global(justify-center)
    global(h-full)
    global(bg-cover)
    global(bg-center)
  ;

  transition: 0.9s cubic-bezier(0.785, 0.135, 0.2, 1);
  transform: scale(1.1);
  will-change: transform;
}

.innerHide {
  transform: scale(1);
}

.svg,
.svgMask,
.holderInner {
  width: 240px;
  height: 130px;
  transform-origin: bottom right; 
  will-change: transform;
}

.strokeHolder,
.maskHolder,
.holder {
  width: 240px;
  height: 130px;
  composes:
    global(absolute)
    global(flex)
    global(items-center)
    global(justify-center)
    global(overflow-hidden)
  ;
  will-change: transform;
  top: 50%;
  left: 50%;
  transform: translate(-120px, -65px);
  transform-origin: bottom right;
}

.holder {
  transform: translate(-120px, -65px) rotate(-100deg);
  animation: maskHolderIn 1.3s 0.3s 1 forwards cubic-bezier(0.770, 0, 0.175, 1.000);
  transition: 1.3s cubic-bezier(0.770, 0, 0.175, 1.000);
}
.holderInner {
  transform: rotate(100deg);
  animation: maskIn 1.3s 0.3s 1 forwards cubic-bezier(0.770, 0, 0.175, 1.000);
}
/* .holderOut {
  transform: translate(-120px, -195px) !important;
  transition: 1.3s cubic-bezier(0.770, 0, 0.175, 1.000) !important;
}
.holderInnerOut {
  transform: translateY(-130px) !important;
  transition: 1.3s cubic-bezier(0.770, 0, 0.175, 1.000) !important;
} */

.strokeHolder {
  animation: strokeHolderOut 1.3s 2s 1 forwards cubic-bezier(0.770, 0, 0.175, 1.000);
}
.svg {
  animation: strokeOut 1.3s 2s 1 forwards cubic-bezier(0.770, 0, 0.175, 1.000);
}

.maskHolder {
  transform: translate(-120px, -65px) rotate(-90deg);
  animation: maskHolderIn 1.3s 2s 1 forwards cubic-bezier(0.770, 0, 0.175, 1.000);
  transform-origin: top right;
}
.svgMask {
  animation: maskIn 1.3s 2s 1 forwards cubic-bezier(0.770, 0, 0.175, 1.000);
  transform: rotate(90deg);
  transform-origin: top right;
}

@keyframes strokeOut {
  100% {
    transform: rotate(-145deg);
  }
}
@keyframes strokeHolderOut {
  100% {
    transform: translate(-120px, -65px) rotate(145deg);
  }
}

@keyframes maskHolderIn {
  100% {
    transform: translate(-120px, -65px) rotate(0);
  }
}
@keyframes maskIn {
  100% {
    transform: rotate(0);
  }
}

@keyframes hideContainer {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}