.footer {
  composes:
    global(absolute)
    global(pin-l)
    global(pin-b)
    global(pb-30)
  ;
  width: calc(100% + 30px);
}

.centerFlex {
  composes:
    global(relative)
    global(h-screen)
    global(flex)
    global(flex-col)
    global(justify-center)
    global(items-center)
  ;
}

.left {
  composes: centerFlex;
  composes:
    global(p-20)
    global(z-50)
    global(max-w-full)
  ;
}

.imageContainer {
  composes: centerFlex;
}

.learnMore {
  composes:
    global(absolute)
    global(z-20)
    global(text-center)
    global(pin-b)
    global(pb-30)
    global(flex)
    global(flex-col)
    global(items-center)
    global(justify-center)
  ;
  width: calc(100% + 60px);
  left: calc(100% + 30px);
}

.right {
  composes: centerFlex;
}

.footerLeft {
  composes: footer;
  left: -30px;
}

.footerRight {
  composes: footer;
  composes:
    global(text-right)
  ;
  right: -30px;
}