.footer {
  composes:
    global(absolute)
    global(pin-l)
    global(pin-b)
    global(w-full)
    global(pb-30)
  ;
}

.centerFlex {
  composes:
    global(relative)
    global(h-screen)
    global(flex)
    global(flex-col)
    global(justify-center)
    global(items-center)
  ;
}

.left {
  composes: centerFlex;
  composes:
    global(p-20)
    global(max-w-full)
  ;
}

.imageContainer {
  composes: centerFlex;
}

.right {
  composes: centerFlex;
}

.footerLeft {
  composes: footer;
}

.footerRight {
  composes: footer;
  composes:
    global(text-right)
  ;
}