.footer {
  composes:
    global(md-absolute)
    global(pin-l)
    global(pin-b)
    global(pb-30)
  ;
}

@media screen and (min-width: 768px) {
  .footer {
    width: calc(100% + 30px);
  }
}

.centerFlex {
  composes:
    global(relative)
    global(md-h-screen)
    global(flex-col)
    global(justify-center)
    global(items-center)
  ;
}

.left {
  composes: centerFlex;
  composes:
    global(p-20)
    global(z-50)
    global(max-w-full)
    global(hidden)
    global(md-flex)
  ;
}

.imageContainer {
  composes: centerFlex;
  composes:
    global(flex)
    global(pt-140)
    global(md-pt-0)
  ;
}

.learnMore {
  composes:
    global(absolute)
    global(z-20)
    global(text-center)
    global(pin-b)
    global(pb-30)
    global(flex)
    global(flex-col)
    global(items-center)
    global(justify-center)
  ;
  width: calc(100% + 60px);
  left: calc(100% + 30px);
}

.right {
  composes: centerFlex;
  composes:
    global(flex)
    global(my-40)
    global(md-my-0)
  ;
}

.footerLeft {
  composes: footer;
  left: -30px;
}

.footerRight {
  composes: footer;
  composes:
    global(text-right)
    global(hidden)
    global(md-block)
  ;
  right: -30px;
}