.button {
  composes:
    global(cursor-pointer)
    global(inline-block)
    global(leading-none)
    global(no-underline)
    global(font-semilight)
    global(relative)
    global(rounded-50)
  ;
  border: none;
}

.bg {
  composes:
    global(absolute)
    global(inline-block)
    global(pin)
    global(rounded-50)
    global(bg-black)
  ;
  transition: 0.2s ease-in-out;
}

.button:hover .bg {
  transform: scale(1.06);
}

.inner {
  composes:
    global(relative)
    global(inline-block)
    global(text-center)
  ;
  will-change: transform;
}