.m {
  composes:
    global(px-30)
    global(sm-text-l)
    global(text-m)
  ;
  padding-top: 22px;
  padding-bottom: 24px;
}

.s {
  composes:
    global(px-20)
    global(py-15)
    global(text-xs)
  ;
}