.link {
  composes:
    global(no-underline)
    global(inline-block)
    global(cursor-pointer)
  ;
  color: inherit;
}

.isUnderlined {
  composes:
    global(border-b-1)
    global(border-solid)
  ;
}