.header {
  composes:
    global(fixed)
    global(z-header)
    global(w-full)
    global(py-30)
  ;
  transition: 1.1s 0.5s cubic-bezier(0.770, 0, 0.175, 1.000);
}

.headerHidden {
  transform: translateY(-100%);
}

.headerShow {
  transform: translateY(0);
}

.link {
  composes: 
    global(md-opacity-50)
    global(text-center)
    global(md-text-left)
  ;
}

@media screen and (max-width: 767px) {
  .link {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

.innerLink {
  composes:
    global(inline-block)
    global(w-full)
    global(py-15)
    global(md-py-0)
    global(cursor-pointer)
  ;
}

.active {
  composes: global(opacity-100)
}

.dropdown {
  composes:
    global(absolute)
    global(pt-10)
  ;

  transition: 0.25s ease-out;
  transform: translateY(-15px);
  visibility: hidden;
  opacity: 0;
  will-change: transform;
}

.dropdownInner {
  composes:
    global(py-20)
    global(px-25)
    global(bg-white)
    global(rounded-s)
    global(shadow-md)
  ;
}

.dropdownTrigger:hover .dropdown {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.mobileContainer {
  composes:
    global(h-screen)
    global(fixed)
    global(pin)
    global(bg-white)
    global(text-black)
    global(pt-110)
    global(overflow-hidden)
  ;
}

.mobileContainerOpen {
  composes:
    global(block)
  ;
}

.mobileContainerClosed {
  composes:
    global(hidden)
  ;
}

.mobileInner {
  composes:
    global(h-full)
  ;
  border-top: 1px solid rgba(0,0,0,0.1);
}