.hero {
  composes:
    global(relative)
    global(h-full)
    global(max-h-80screen)
    global(overflow-hidden)
  ;
}

.video {
  composes:
    global(relative)
    global(block)
    global(w-full)
    global(h-full)
  ;
}

.seekbarContainer {
  composes:
    global(absolute)
    global(pin-l)
    global(pin-r)
    global(pin-b)
    global(p-20)
  ;
}

.seekbar {
  composes:
    global(relative)
    global(overflow-hidden)
  ;
  width: calc(100% - 30px);
  height: 2px;
  background-color: rgba(255,255,255,0.3);
}

.bar {
  composes:
    global(absolute)
    global(pin-t)
    global(w-full)
    global(h-full)
    global(bg-white)
  ;
  transition: transform 1s linear;
  left: -100%;
}

.sound {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

.soundOn {
  width: 20px;
  position: absolute;
}

.soundOff {
  width: 20px;
  position: absolute;
}