.product {
  composes:
    global(w-full)
    global(px-20)
    global(flex)
    global(items-center)
    global(justify-center)
  ;
}

.imageContainer {
  composes:
    global(relative)
    global(flex)
    global(items-center)
    global(justify-center)
    global(mb-30)
  ;
  height: 0;
  padding-bottom: 100%;
}

.imageContainerDiscovery {
  padding-bottom: 54%;
}

.image {
  composes:
    global(max-w-full)
    global(absolute)
    global(z-10)
    global(opacity-100)
  ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50%;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  max-width: 470px;
}

.image:hover {
  transform: translate(-50%, -50%) scale(1.03);
}

.imageFragrance {
  composes:
    global(w-full)
  ;
}

.imageSingle {
  composes:
    global(w-auto)
    global(h-90)
  ;
  transform: rotate(-5deg) translate(-50%, -50%);
  transform-origin: 50%;
  /* animation: float 2s infinite alternate ease-in-out; */
}

.imageDiscovery {
  composes:
    global(w-auto)
    global(h-90)
  ;
}

.imageLayering {
  composes:
    global(w-70)
    global(h-70)
  ;
}
