.container {
  composes:
    global(fixed)
    global(pin-t)
    global(pin-r)
    global(h-screen)
    global(z-full)
    global(bg-white)
    global(flex)
    global(flex-col)
    global(w-full)
    global(pb-60)
    global(md-pb-0)
  ;
  transition: transform 0.3s ease-out;
}

@media screen and (min-width: 768px) {
  .container {
    width: 430px;
  }
}

.containerHidden {
  transform: translateX(100%);
}

.bg {
  composes:
    global(fixed)
    global(pin)
    global(bg-black)
    global(opacity-25)
    global(z-full)
    global(visible)
  ;

  transition: opacity 0.5s;
}

.bgHidden {
  composes:
    global(opacity-0)
    global(hidden)
  ;
}

.header,
.footer {
  composes: global(p-25);
}

.items {
  composes:
    global(h-full)
    global(overflow-hidden)
  ;
  box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.05) inset;
}

@media screen and (min-width: 768px) {
  .items {
    box-shadow: none;
  }
}