.container {
  composes:
    global(absolute)
    global(pin)
  ;
  transition: opacity 0.5s;
}

.containerDiscovery {
  transform: scaleX(1.7);
}

.containerHidden {
  composes:
    global(opacity-0)
  ;
}